# ----------------------------------------------------------------------------
# Environment & Secrets
# ----------------------------------------------------------------------------
.env
.env.*
*.env
**/.env
**/.env.*
!*.env.example
!**/*.env.example

# ----------------------------------------------------------------------------
# Go compiled binaries and directories
# ----------------------------------------------------------------------------
bin/
dist/
.dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
vendor/
go.work
go.work.sum

# ----------------------------------------------------------------------------
# Node / Frontend build & dependencies
# ----------------------------------------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# ----------------------------------------------------------------------------
# IDEs & Editors
# ----------------------------------------------------------------------------
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# ----------------------------------------------------------------------------
# OS files
# ----------------------------------------------------------------------------
.DS_Store
Thumbs.db
