PORT=8081
DATABASE_URL=postgresql://postgres:password@localhost:5432/dbname
REDIS_URL=redis://127.0.0.1:6379/1
SECRET_KEY=django-insecure-secret-key

# Email Settings
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Turnstile
TURNSTILE_SECRET_KEY=
